:root {
  --mainBrown: #2d1ef1;
  --mainYellow: #ff9e09;
  --mainYellowRGB: rgba(255,158,9,0.5);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainWhiteRGB: rgba(255, 255, 255, 0);
  --mainDark: #222;
};
@font-face {
    font-family: 'qsnd';
    src: url('../plugins/fonts/quicksand/Quicksand_Book.otf') format('OpenType');
}

@font-face {
    font-family: 'pirulen';
    src: url('../plugins/fonts/pirulen.ttf') format('truetype');
}

@font-face {
    font-family: 'ply';
    src: url('../plugins/fonts/Play-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'monster';
    src: url('../plugins/fonts/monsterrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roma';
    src: url('../plugins/fonts/Michroma.ttf') format('truetype');
}

@font-face {
    font-family: 'ptsun';
    src: url('../plugins/fonts/PT_Sans-Caption-Web-Regular.ttf') format('truetype');
}


.navbar-brand img {
  width: 30px;
}

h1 {
  font-family: "pirulen" !important;
}

h2, h3 {
  font-family: "ptsun" !important;
}

h4, h5, h6 {
  font-family: "roma" !important;
}

p {
  font-family: "monster" !important;
  color: var(--mainDark);
  opacity: 1;
}

body {
  font-family: "monster" !important;
  background: var(--mainWhite);
  color: var(--mainDark);
  color: #000;
  opacity: 1;
}

.cart-icon {
  font-size: 2rem;
  cursor: pointer;
}

.text-yellow {
  color: var(--mainYellow);
}

.default-background {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(60deg, rgba(255,158,9,0.5), rgba(255, 255, 255, 0)) !important;
  background-position: center !important;
  background-size: 100% 100%, cover, cover !important;
  background-repeat: no-repeat;
  opacity: 1 !important;
}

.default-background .title {
  color: var(--mainWhite);
}

.about-background .title {
  color: var(--mainYellow);
}
.about-background {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(60deg, rgba(55,55,9,0.9), rgba(125, 125, 50, 0.9)) !important;
  color: var(--mainDark);
  background-position: center !important;
  background-size: 100% 100%, cover, cover !important;
  opacity: 1 !important;
}

.btn-yellow {
  color: var(--mainYellow);
  border: 1px solid var(--mainYellow) !important;
  font-weight: bold;
  font-family: "pirulen";
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainWhite);
  border: var(--mainYellow);
}

.footer {
  background: var(--mainDark);
  color: var(--mainWhite);
}